@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
